RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://partizan-news-in-rs.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partizan-news-in-rs.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partizan-news.in.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partizan-news.in.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partizan-news-in-rs.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partizan-news-in-rs.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partizan-news.in.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partizan-news.in.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partizan-news-in-rs.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partizan-news-in-rs.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partizan-news.in.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partizan-news.in.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partizan-news-in-rs.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partizan-news-in-rs.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partizan-news.in.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partizan-news.in.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zlatkom.mycpanel.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zlatkom.mycpanel.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zlatkom.mycpanel.rs$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php7_module>
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php72"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php72"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php71” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^partizan\-news\.in\.rs$ [OR]
RewriteCond %{HTTP_HOST} ^www\.partizan\-news\.in\.rs$
RewriteRule ^/?$ "https\:\/\/partizan\-news\.in\.rs\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^partizan\-news\.in\.rs$ [OR]
RewriteCond %{HTTP_HOST} ^www\.partizan\-news\.in\.rs$
RewriteRule ^admin\/?$ "https\:\/\/admin\.partizan\-news\.in\.rs\/" [R=301,L]

